*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
release/

# Emacs autosave files
*~
#*#

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Android Studio / IntelliJ IDEA 
*.iws
*.iml
.idea/libraries
.idea/misc.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/modules.xml
.idea/inspectionProfiles/
.idea/copyright/
.idea/encodings.xml
.idea/codeStyleSettings.xml
.idea/compiler.xml

# Mac and Windows folder settings
.DS_Store
desktop.ini
